@font-face {
    font-family: 'Pixel-Art';
    src: url('../fonts/Pixel-Art.woff2') format('woff2'), url('../fonts/Pixel-Art.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

div {
    font-family: 'Pixel-Art';
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#count {
    font-size: 40px;
    padding: 30px;
    margin-bottom: -120px;
    user-select: none;
}

.icon {
    background: url('../images/0-.png');
    background-repeat: no-repeat;
    background-size: 100%;
    image-rendering: pixelated;
    width: 56vh;
    height: 60vh;
}

.icon:hover {
    background: url('../images/1.png');
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: 100%;
}

.icon:active {
    background: url('../images/2.png');
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: 100%;
}